html, body {
  height: 100%;
  padding-bottom: 0;
}

.display_none {
  display: none;
}

.nav_menu__item {
    padding: 10px;
    background-color: #eee;
    margin: 0 5px;
}
@media (min-width: 992px) {
  .menu_dropdown {
    position: absolute;
  }
}
