html, body {
  height: 100%;
  padding-bottom: 0;
}

.display_none {
  display: none;
}

.nav_menu__item {
    padding: 10px;
    background-color: #eee;
    margin: 0 5px;
}

#service__offers_container {
  position: relative;
}

.service__offers_item {
  height: 400px;
  text-align: center;
}

.service__offers_image {
  height: 200px;
  width: 300px;
  display: inline-block;
}

.service__offers_list {
  list-style: none;
}

.home__choice {
    list-style: none;
    height: 100px;
    background: lightgray;
}

#map-container {
  height: 400px;
}

#map {
  height: 100%;
}

#myCarousel {
  float: right;
  width: 50%;
}

#info {
  float: left;
  line-height: 565px;
  text-align: center;
  width: 50%;
}

.ajax_loader {
  background: url(/static/images/ajax-loader.gif);
  height: 32px;
  width: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}

@media (min-width: 420px) {
  #info {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  #info {
    font-size: 23px;
  }
  .navbar-nav {
    height: 100%;
  }
  .nav_menu__item {
    height: 100%;
  }
}

@media (min-width: 992px) {
  #info {
    font-size: 31px;
  }
  #map-container {
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
  }
  .service__offers_list {
    height: 100%;
    padding-top: 50px;
    margin-bottom: 0;
    overflow: auto;
  }
  #root, main {
    height: 100%;
  }
  #menu {
    height: 6% ;
    margin-bottom: 0;
  }
  #service__offers_conatiner {
    height: 94%;
    position: relative;
  }
  #service__offers_conatiner .row {
    height: 100%;
  }
  .nav>.nav_menu__item>a {
    padding: 0 15px;
  }
  .location_fetching_overlay {
    position: absolute;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    right: 0;
    width: 50%;
    z-index: 1;
  }
  .offers_fetching_overlay {
    position: absolute;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    left: 0;
    width: 50%;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  #info {
    font-size: 39px;
  }
}
